<div class="skills-container" id="skills">
  <div class="skills-left">
    <div class="skills-heading"><i class="fa-solid fa-laptop-code"></i> <strong>Skills</strong></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur, deleniti dolores consequuntur numquam distinctio vel voluptates in praesentium alias aliquam magnam expedita aliquid beatae ullam at molestias sunt dolore explicabo rem excepturi! Tempora, quaerat excepturi. Necessitatibus, eaque dignissimos recusandae dolore nostrum, cum voluptatibus repudiandae quis ex voluptas dolorum id.</p>
  </div>

  <div  class="tech-stack" >
    <div class="skill"><%= image_tag "techstack/ruby.svg", alt: "Ruby", title:"Ruby" %></div>
    <div class="skill"><%= image_tag "techstack/rails.svg", alt: "Rails", title:"Ruby on Rails" %></div>
    <div class="skill"><%= image_tag "techstack/html.svg", alt: "html 5", title:"HTML 5" %></div>
    <div class="skill"><%= image_tag "techstack/css.svg", alt: "css", title:"CSS 3" %></div>
    <div class="skill"><%= image_tag "techstack/bootstrap.svg", alt: "bootstrap", title:"Bootstrap" %></div>
    <div class="skill"><%= image_tag "techstack/JS.svg", alt: "JavaScript", title:"JavaScript" %></div>
    <div class="skill"><%= image_tag "techstack/react.svg", alt: "react", title:"React" %></div>
    <div class="skill"><%= image_tag "techstack/git.svg", alt: "git", title:"git" %></div>
    <div class="skill"><%= image_tag "techstack/github.svg", alt: "GitHub", title:"GitHub" %></div>
    <div class="skill"><%= image_tag "techstack/postgresql.svg", alt: "SQL", title:"PostgreSQL" %></div>
    <div class="skill"><%= image_tag "techstack/heroku.svg", alt: "heroku", title:"Heroku" %></div>
    <div class="skill"><%= image_tag "techstack/figma.svg", alt: "Figma", title:"Figma" %></div>
  </div>
</div>
