<div class="skills-heading"></div>
<div class="skills-heading-container"><i class="fa-solid fa-laptop-code"></i> Skills</div>
<div class="skills-paragraph">
  <p>I'm always working to improve my proficiency in my current skills and learning me languages and frameworks.  I'm currently self-studying with the CS50 Harvard Computer Science course.</p>
  <div  class="tech-stack" >
    <div class="skill"><%= image_tag "techstack/ruby.svg", alt: "Ruby" %></div>
    <div class="skill"><%= image_tag "techstack/rails.svg", alt: "Rails" %></div>
    <div class="skill"><%= image_tag "techstack/html.svg", alt: "html 5" %></div>
    <div class="skill"><%= image_tag "techstack/css.svg", alt: "css" %></div>
    <div class="skill"><%= image_tag "techstack/bootstrap.svg", alt: "bootstrap" %></div>
    <div class="skill"><%= image_tag "techstack/JS.svg", alt: "JavaScript" %></div>
    <div class="skill"><%= image_tag "techstack/react.svg", alt: "react" %></div>
    <div class="skill"><%= image_tag "techstack/git.svg", alt: "git" %></div>
    <div class="skill"><%= image_tag "techstack/github.svg", alt: "GitHub" %></div>
    <div class="skill"><%= image_tag "techstack/postgresql.svg", alt: "SQL" %></div>
    <div class="skill"><%= image_tag "techstack/heroku.svg", alt: "css" %></div>
    <div class="skill"><%= image_tag "techstack/figma.svg", alt: "Figma" %></div>
  </div>
</div>
