<div class="col-12">
  <div class="container">
    <h2><i class="fa-solid fa-laptop-code"></i> My Current tech Skills</h2>
    <div class="tech-stack" >
      <div><%= image_tag "techstack/html-5.png", alt: "html 5" %></div>
      <div><%= image_tag "techstack/css.png", alt: "css" %></div>
      <div><%= image_tag "techstack/js.png", alt: "JavaScript" %></div>
      <div><%= image_tag "techstack/ruby.png", alt: "Ruby" %></div>
      <div><%= image_tag "techstack/git.png", alt: "git" %></div>
      <div><%= image_tag "techstack/github.png", alt: "GitHub" %></div>
      <div><%= image_tag "techstack/sql.png", alt: "SQL" %></div>
      <div><%= image_tag "techstack/figma.png", alt: "Figma" %></div>
    </div>
  </div>
</div>
