<!-- Banner Section -->
<%= partial 'partials/banner' %>

<div class="container">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Tech Stack Section -->
  <%= partial 'partials/tech' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>

<!-- Footer Section -->
<%= partial 'partials/footer' %>
